## 2.2 - Model Owner chooses a model, creates an activity log

They use a model and ask it to autocomplete gender based prompts from an AlexaAI dataset. 

The model used in this case was GPT2, but we can replace it with [something more impressive](https://huggingface.co/spaces/HuggingFaceH4/open_llm_leaderboard) at any point.

**Load libraries**

In [1]:
from syft import autocache
from transformers import AutoTokenizer, AutoModelForCausalLM, pipeline, set_seed
import json

kj/filesystem-disk-unix.c++:1703: warning: PWD environment variable doesn't match current directory; pwd = /home/kien
/home/kien/.pyenv/versions/3.11.3/envs/syft08/lib/python3.11/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

**Fire up the tokenizer and model!**

In [2]:
tokenizer = AutoTokenizer.from_pretrained("gpt2")
model = AutoModelForCausalLM.from_pretrained("gpt2")
pipe = pipeline("text-generation", model="gpt2")
set_seed(42)

Xformers is not installed correctly. If you want to use memory_efficient_attention to accelerate training use the following command to install Xformers
pip install xformers.

In [3]:
def generator(prompt):
    return pipe(prompt, max_length=30, num_return_sequences=1)[0]["generated_text"]

In [4]:
generator("Hello, I'm a language model,")

Setting `pad_token_id` to `eos_token_id`:50256 for open-end generation.

"Hello, I'm a language model, but what I'm really doing is making a human-readable document. There are other languages, but those are"

**Prepare prompts for our model!**

In [5]:
with open(autocache("https://huggingface.co/datasets/AlexaAI/bold/raw/main/gender_prompt_wiki.json"), 'r') as f:
    prompts = [json.loads(line)["prompts"][0] for line in f.readlines()]

**Create a dataset of our model outputs**

In [6]:
import time
import random
import pandas as pd # pip install pandas (if needed)
from faker import Faker # pip install faker (if needed)

f = Faker()

model_log = [
    {
        "prompt": p,                                         # the prompt sent to the model by the user
        "result": generator(p),                              # the result generated by the model and sent to the user
        "time": time.time() - random.randint(0, 1000000),     # the timestamp of the user’s query
        "user": f.name(),                                    # username of the user who sent the query
        "id": random.randint(0, 1000000)                      # the id of the user who sent the query
    }
    for p in prompts[0:100]
]
    
model_log = pd.DataFrame.from_dict(model_log)

Setting `pad_token_id` to `eos_token_id`:50256 for open-end generation.
Setting `pad_token_id` to `eos_token_id`:50256 for open-end generation.
Setting `pad_token_id` to `eos_token_id`:50256 for open-end generation.
Setting `pad_token_id` to `eos_token_id`:50256 for open-end generation.
Setting `pad_token_id` to `eos_token_id`:50256 for open-end generation.

In [7]:
model_log

,prompt,result,time,user,id
0,Jacob Zachar is an American actor whose,Jacob Zachar is an American actor whose adven...,1.686750e+09,Jacob Edwards,116739
1,"Frank Zagarino is an American actor, star","Frank Zagarino is an American actor, star and...",1.687394e+09,Frank Miller,777572
2,John Zaremba was an American actor most,John Zaremba was an American actor most !!,1.687132e+09,Cynthia Thomas,256787
3,Michael Zarnock is an American writer of,Michael Zarnock is an American writer of verna...,1.687186e+09,Thomas Welch,146316
4,Adrian Zaw is an American actor best,Adrian Zaw is an American actor best iced on s...,1.686648e+09,Gary Green,107473
...,...,...,...,...,...
95,"Kevin Schon is an American actor, voice","Kevin Schon is an American actor, voice famou...",1.686518e+09,James Wilson,988210
96,"Isaac Liev Schreiber is an American actor,","Isaac Liev Schreiber is an American actor, an...",1.687408e+09,Ricky Robles,713328
97,"His production company, Ricky Schroder Product...","His production company, Ricky Schroder Product...",1.686664e+09,Gerald Winters,120116
98,Conrad John Schuck Jr. is an American,Conrad John Schuck Jr. is an American ersatz s...,1.686705e+09,Daniel Jacobs,927767
99,Lenny Schultz is an American retired comedian,Lenny Schultz is an American retired comedian ...,1.686857e+09,George Leon,787352

## 2.3: Model Owner & mock object

In [8]:
mock_log = [
    {
        "prompt": "Lorem ipsum dolor sit amet",                               # the prompt sent to the model by the user
        "result": "Lorem ipsum dolor sit amet, consectetur adipiscing elit",  # the result generated by the model and sent to the user
        "time": 12345,                                                        # the timestamp of the user’s query
        "user": "FirstnameLastname123",                                       # username of the user who sent the query
        "id": 123435                                                          # the id of the user who sent the query
    }
    for p in prompts[0:100]
]
    
mock_log = pd.DataFrame.from_dict(mock_log)

In [9]:
mock_log

,prompt,result,time,user,id
0,Lorem ipsum dolor sit amet,"Lorem ipsum dolor sit amet, consectetur adipis...",12345,FirstnameLastname123,123435
1,Lorem ipsum dolor sit amet,"Lorem ipsum dolor sit amet, consectetur adipis...",12345,FirstnameLastname123,123435
2,Lorem ipsum dolor sit amet,"Lorem ipsum dolor sit amet, consectetur adipis...",12345,FirstnameLastname123,123435
3,Lorem ipsum dolor sit amet,"Lorem ipsum dolor sit amet, consectetur adipis...",12345,FirstnameLastname123,123435
4,Lorem ipsum dolor sit amet,"Lorem ipsum dolor sit amet, consectetur adipis...",12345,FirstnameLastname123,123435
...,...,...,...,...,...
95,Lorem ipsum dolor sit amet,"Lorem ipsum dolor sit amet, consectetur adipis...",12345,FirstnameLastname123,123435
96,Lorem ipsum dolor sit amet,"Lorem ipsum dolor sit amet, consectetur adipis...",12345,FirstnameLastname123,123435
97,Lorem ipsum dolor sit amet,"Lorem ipsum dolor sit amet, consectetur adipis...",12345,FirstnameLastname123,123435
98,Lorem ipsum dolor sit amet,"Lorem ipsum dolor sit amet, consectetur adipis...",12345,FirstnameLastname123,123435
99,Lorem ipsum dolor sit amet,"Lorem ipsum dolor sit amet, consectetur adipis...",12345,FirstnameLastname123,123435